<div class="container" ng-controller="team_ctrl">
    <p></p>
    <div class="row home">
        <div ng-repeat="x in data" class="col-md-3">
            <div class="thumbnail">
                <!-- <a ui-sref="player"> -->
                  <a ui-sref="player({ portfolioId: x.team_name })">
                    <p> {{x.team_name}}</p>
                    <img-url data=x.team_img_url
                    ng-click="changeTeam(x.team_name)"></img-url>

                    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/ipl2016
                    -adcf4.appspot.com/o/team_logo%2FDD.jpg?alt=media&token=da8dcb
                    a9-9789-4d7e-800f-0eb399890ae7" style="width:240px;height:240px"
                    ng-click="changeTeam(x.team_name)"> -->
                    <!-- <button ng-click="changeTeam(x.team_name)">OK</button> -->

                </a>
            </div>
        </div>
    </div>
</div>
